{% extends "layout.html" %}

{% block content%}

    <div class="jumbotron">
        <h2>Lista de poderes superiores del arquetipo Oni</h2>
        <h5>Para adquirir un Poder Superior, un personaje deberá cumplir dos requisitos:
            • El personaje deberá poseer al menos 50 puntos en la Habilidad Desarrollo Sobrenatural, la mínima comprensión necesaria para canalizar las inmensas fuerzas que se pondrán en movimiento.
            • El personaje deberá poseer los poderes listados como Requisito, además de haberlos especializado.
            Los Poderes Menores no servirán para adquirir Poderes Superiores, dada la menor cantidad de energías y control que requieren. Si el personaje cumple ambos requisitos, deberá pagar 50 puntos de POT y 50 PX para adquirirlos.</h5>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Requisito</th>
                <th>Clase</th>
                <th>Efecto</th>
                <th>Limite</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody class="searchable">
                    {% for superiores in superiores %}
                    <tr>
                        <td>{{superiores["name"]}}</td>
                        <td>{{superiores["requisito"]}}</td>
                        <td>{{superiores["clase"]}}</td>
                        <td>{{superiores["efecto"]}}</td>
                        <td>{{superiores["limite"]}}</td>
                        <td>{{superiores["accion"]}}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}